.home01-icolist {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.home01-icolist li {
    width: 25%;
    background-color: #20a3f0;
    padding: 100px 30px;
    text-align: center;
    color: #FFF;
    display: table-cell
}

.home01-icolist li:nth-child(1) {
    background-color: #0a5392;
}

.home01-icolist li:nth-child(2) {
    background-color: #1285c8;
}

.home01-icolist li:nth-child(3) {
    background-color: #219de6;
}

.home01-icolist li:nth-child(4) {
    background-color: #39aaec;
}

.home01-icolist li .fa {
    margin-bottom: 40px;
    display: inline-block;
}

.home01-icolist li h3 {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.home01-icolist li h3:after {
    content: "";
    border-bottom: 2px solid #FFF;
    width: 35px;
    margin: 13px auto;
    display: block;
}

@media only screen and (max-width: 767px) {
    .home01-icolist,
    .home01-icolist li {
        display: block;
        width: auto;
    }
}

.home01-bg {
    background-color: #f7f7f7;
}

.home01-isotope {
    overflow: hidden;
}

.home01-isotope .isotope-group {
    text-align: center;
    /*padding: 0 0 40px;*/
}

.home01-isotope .isotope-group a {
    margin: 0 10px 5px;
    /*padding: 12px 12px;*/
    color: #666666;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    transition: background-color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms;
    -webkit-transition: background-color ease-in 200ms;
    -o-transition: background-color ease-in 200ms;
    -ms-transition: background-color ease-in 200ms;
    position: relative;
    display: inline-block;
}

.home01-isotope.loading .isotope-item {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

.home01-isotope .isotope-group a:hover,
.home01-isotope .isotope-group a.active {
    background-color: transparent;
    text-decoration: none;
}

.home01-isotope .isotope-group a.active:before,
.home01-isotope .isotope-group a:hover.active:before {
    content: "";
    border-bottom: none !important;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.home01-isotope .isotope-item {
    padding: 0px 29px 29px;
}

.home01-isotope .pic {
    position: relative;
    border: 1px solid #d9d9d9;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* For Firefox3.6+ */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* For Chrome5+, Safari5+ */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* For Latest Opera */
}

.home01-isotope .pic img {
    max-width: 100%;
}

.home01-isotope .viewdemo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -73px;
    width: 145px;
    height: 50px;
    line-height: 50px;
    color: #20a3f0;
    background-color: #ffffff;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
    -webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
    -o-transition: all ease-in 200ms;
    /* Opera */
    -ms-transition: all ease-in 200ms;
    /* IE9? */
}

.home01-isotope .pic:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(to left top, #2c9ffa 0%, #ce68e0 70%);
    background-image: -webkit-linear-gradient(left top, #2c9ffa 0%, #ce68e0 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2c9ffa', endColorstr='#ce68e0', GradientType=1);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    /* Firefox 4 */
    -webkit-transition: all ease-in 200ms;
    /* Safari and Chrome */
    -o-transition: all ease-in 200ms;
    /* Opera */
    -ms-transition: all ease-in 200ms;
    /* IE9? */
}

.home01-isotope .pic:hover:after {
    opacity: 0.7;
    visibility: visible;
}

.home01-isotope .pic:hover .viewdemo {
    opacity: 1;
    visibility: visible;
}

.home01-isotope .viewdemo:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #20a3f0;
}

.home01-isotope h3 {
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin: 22px 0 18px;
}

.home01-isotope h3 a,
.home01-isotope h3 a:link,
.home01-isotope h3 a:active,
.home01-isotope h3 a:visited {
    color: #333333;
}

.home01-isotope h3 a:hover {
    color: #20a3f0;
    text-decoration: none;
}

.home01-cont {
    text-align: center;
}

.home01-cont .title {
    font-weight: bold;
    color: #333333;
    font-size: 50px;
    margin: 0;
    padding: 0 0 28px;
}

.home01-cont .description {
    font-size: 25px;
    color: #333333;
    margin-bottom: 35px;
    font-weight: lighter;
}

.home01-imginfo .imginfo {
    width: 100%;
    font-size: 15px;
    color: #666666;
    line-height: 2;
    padding-bottom: 580px;
}


.home01-imgbox {
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.home01-imgbox h3{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.home01-imgbox .pic {
    margin-bottom: 25px;
}

.home01-imgbox .pic img {
    border: 10px solid #ffffff;
    max-width: 100%;
}

.home01-imgbox .tilte {
    font-size: 24px;
    margin: 0;
    color: #FFF;
}

.home01-imgbox .tilte:after {
    content: "";
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid #FFF;
    width: 60px;
}

.home01-bg02 {
    background: url(../../inset/homepage01/home01-Megamenu_img.png) no-repeat left center;
    background-size: 45% auto;
    background-attachment: fixed;
    background-color: #3a99d0;
}

.carousel-dot-style01 .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #666666;
    border: none;
    margin: 5px;
}

.carousel-dot-style01 .owl-dot.active {
    background-color: #20a3f0;
}

.home01-bg03 {
    background-size: cover;

}

.home01-bg04 {
    background: url(../../inset/homepage01/home01-bg04.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home01-bg05 {
    background: url(../../inset/homepage01/home01-bg05.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home01-bg06 {
    background-color: #00b9aa;
}

.home01-bg07 {
    background: url(../../inset/homepage01/home01-bg07.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.home01-bg08 {
    background: url(../../inset/homepage01/home01-bg08.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.home01-cont2 {
    background: url(../../inset/homepage01/home01-cont2_img.png) no-repeat left center;
    background-size: 45% auto;
    background-attachment: fixed;
    background-color: #21d3a7 !important;
}

.home01-bg09{
    background: url(../../inset/homepage01/home01-bg09_img.png) no-repeat right center;
    background-size: 45% auto;
    background-attachment: fixed;
}

.home01-bg10 {
    background: url(../../inset/homepage01/home01-bg10_img.png) no-repeat left center;
    background-size: 45% auto;
    background-attachment: fixed;
    background-color: #f3f2f3;
}

.home01-headerStyle{
    background: url(../../inset/homepage01/home01-headerStyle_img.png) no-repeat right center;
    background-size: 45% auto;
    background-attachment: fixed;
}

.home01-titleLyout{
    background: url(../../inset/homepage01/home01-titleLayout_img.png) no-repeat right center;
    background-size: 45% auto;
    background-attachment: fixed;
}

.home01-bg11 {
    background: url(../../inset/homepage01/home01-bg11.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home01-bg-sliderEffect{
    background: url(../../inset/homepage01/home01-slider-effect-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.home01-bgTestimonial{
    background: url(../../inset/homepage01/home01-bg-Testimonial.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home01-cont3 {
    text-align: center;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home01-cont3 .title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .home01-cont3 .title {
        font-size: 40px;
    }
}

.home01-cont3 .description {
    font-size: 45px;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 40px;
    font-weight: lighter;
}

.home01-bg12 {
    background: url(../../inset/homepage01/home01-bg12.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
    .home01-bg12 {
        background-position: left center;
    }
}

.home01-bg13 {
    background: url(../../inset/homepage01/home01-bg13.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
    .home01-bg13 {
        background-position: right center;
    }
}

.home01-bg14 {
    background: url(../../inset/homepage01/home01-bg14.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.home01-bg15 {
    overflow: hidden;
    background: url(../../inset/homepage01/home01-bg15-2.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
    .home01-bg15 {
        background-position: left center;
    }
}

.home01-bg16 {
    background: url(../../inset/homepage01/home01-bg16.jpg) no-repeat center;
    background-size: cover;
}

.home01-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.home01-list li {
    padding: 2px 0;
}

.home01-list .fa {
    font-size: 1.2em;
    margin-right: 9px;
    color: #20a3f0;
    vertical-align: middle;
    margin-bottom: 2px;
    display: inline-block;
}

.home01-bg17 {
    background: url(../../inset/homepage01/home01-bg17.jpg) no-repeat center center;
    background-size: cover;
}

.home01-imginfo{
    background: url(../../inset/homepage01/home01_img20.jpg) no-repeat center bottom;
}


.home01-cont4 {
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

.home01-cont4 .title {
    color: #FFF;
    font-size: 70px;
    font-weight: bold;
    margin: 55px 0 35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home01-cont4 .title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .home01-cont4 .title {
        font-size: 40px;
    }
}
.home13-images-water .water {
    z-index: -1;
    transform: scale(3.5, 0.7);
    -webkit-transform: scale(3.5, 0.7);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -25px;
    opacity: 0.6;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home13-images-water .water {
        transform: scale(2.8, 0.56);
        -webkit-transform: scale(2.8, 0.56);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home13-images-water .water {
        transform: scale(2.1, 0.42);
        -webkit-transform: scale(2.1, 0.42);
    }
}

@media only screen and (max-width: 767px) {
    .home13-images-water .water {
        transform: scale(1, 0.2);
        -webkit-transform: scale(1, 0.2);
    }
}




/*made by yuezihe*/

.home01-bg03 .dg-ico-max:after{
content: "";
width: 64px;
height: 1px;
background-color: #20a3f0;
margin-top: 10px;
display: block;
}

.fz-36 .dg-iconbox04:hover .dg-ico05:after{
box-shadow: 0 0 11px #20a3f0;
}
.fz-36 .dg-iconbox04:hover .dg-ico05 .fa{
color: #20a3f0;
transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-webkit-transition: all 200ms ease-in;
}

.home01-cont2 .number{
font-weight: bold;
}
.home01-cont2 .number:after{
content: "";
height: 1px;
width: 40px;
margin: 20px auto 0;
background-color: #fff;
display: block;
}

.home01-cont3 .title {
color: #ffffff;
line-height: 1.2;
font-weight: bold;
margin: 0 0 10px;
}

.home01-bg09 .home01-list {
margin: 0;
padding: 0;
list-style: none;
counter-reset: custom-counter;
}
.home01-bg09 .home01-list h5{
font-weight: bold;
}    
.home01-bg09 .home01-list li {
position: relative;
z-index: 2;
padding: 30px 50px;
margin-bottom: 20px;
}

.home01-bg09 .home01-list li .list-bg {
position: absolute;
top: 0px;
left: 0px;
line-height: 1;
color: #20a3f0;
font-family: Impact;
font-weight: bold;
pointer-events: none;
z-index: -1;
opacity: 0.08;
font-size: 138px;
}

.home01-bg10 p{
color: #666;
}

.home01-bg15 .dg-btn-1{
background-color: transparent;
border: 1px solid #fff;
}

.home01-bg16 .dg-title42:after{
margin: 20px auto 32px;
}

.home01-bg02 p:after{
content: "";
width: 100%;
height: 1px;
background-color: #82bfe2;
margin-top: 20px;
display: block;
}
.home01-headerStyle .pro:after{
content: "";
width: 100%;
height: 1px;
background-color: #E7EAEC;
margin-top: 20px;
display: block;
}




/*footer*/
.footer-social07-home01{
margin: 0 !important;
}
.footer-social07-home01 a{
margin-left: 2px;
margin-bottom: 0;
border-color: #fff !important;
}
.home01-lh{
line-height: 35px;
}
.home01-lh p{
margin: 0 !important;
}

.home01-bg02 .dg-title42:after,
.home01-headerStyle .dg-title42:after,
.home01-cont2 .dg-title42:after,
.home01-bg-sliderEffect .dg-title42:after,
.home01-imginfo .dg-title42:after,
.home01-titleLyout .dg-title42:after,
.home01-bg09 .dg-title42:after,
.home01-bg10 .dg-title42:after{
display: none;
}

.home01-bg02 .list-ico .fa,
.home01-cont2 p,
.home01-imginfo .dg-title42,
.home01-bg-sliderEffect .dg-title42,
.home01-bg-sliderEffect p,
.home01-imginfo p{
color: #fff;
}

.home01-imginfo .dg-title42,
.home01-bg-sliderEffect .dg-title42,
.home01-bg10 .dg-title42,
.home01-bg16 .dg-title42{
font-weight: bold;
}

.home01-headerStyle .dg-title42,
.home01-cont2 .dg-title42,
.home01-bg03 .dg-title42,
.home01-bg02 .dg-title42,
.fontsize .dg-title42,
.fz-36 .dg-title42,
.home01-bg05 .dg-title42,
.home01-bg09 .dg-title42,
.home01-titleLyout .dg-title42,
.home01-bg11 .description,
.home01-bg12 .dg-title42,
.home01-bg13 .dg-title42,
.home01-bg15 .dg-title42{
font-size: 36px;
line-height: 1;
}

.home01-cont2 .dg-number09 .number,
.home01-imginfo .dg-title42,
.home01-bg16 .dg-title42,
.home01-bg10 .dg-title42{
font-size: 48px;
}

.home01-bg-sliderEffect .dg-title42,
.home01-bg05 .dg-title42 strong{
font-size: 72px;
}

.home01-headerStyle .dg-title42 strong,
.home01-bg02 .dg-title42 strong,
.home01-titleLyout .dg-title42 strong,
.home01-cont2 .dg-title42 strong,
.home01-bg-sliderEffect .dg-title42 strong,
.home01-bg09 .dg-title42 strong{
font-size: 90px;
}

.home01-bg03 .dg-title42:after,
.fontsize .dg-title42:after,
.fz-36 .dg-title42:after,
.home01-bg05 .dg-title42:after,
.home01-bg12 .dg-title42:after,
.home01-bg13 .dg-title42:after,
.home01-bg15 .dg-title42:after,
.home01-bg16 .dg-title42:after{
height: 2px;
}

.home01-cont3 .title,
.home01-bg11 .title{
font-weight: bold;
font-size: 100px;
}


@media only screen and (min-width: 1921px) {
.home01-imginfo{
    background-color: #20B2EB;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.home01-headerStyle,
.home01-bg09{
    background-size: 54% auto;
}
.home01-titleLyout,
.home01-bg10{
    background-size: 50% auto;
}
.home01-cont2{
    background-size: 55% auto;
}
}
@media only screen and (max-width: 991px){
.home01-bg02,
.home01-cont2,
.home01-bg09,
.home01-headerStyle,
.home01-bg09,
.home01-titleLyout,
.home01-bg10,
.home01-cont2{
    background: none;
}
.home01-bg02{
    background-color: #3a99d0;
}
.home01-bg10{
    background-color: #f3f2f3;
}
.home01-cont3 .title, 
.home01-bg11 .title,
.home01-bg-sliderEffect .dg-title42, 
.home01-bg05 .dg-title42 strong{
    font-size: 40px;
}
.home01-cont3 .description{
    font-size: 36px;
}
.home01-icolist li{
    width: 50%;
    float: left;
    padding: 50px 30px;
}
.home01-imginfo{
    background-size: cover;
}
.home01-imginfo .imginfo{
    padding-bottom: 310px;
}
}
@media only screen and (max-width: 767px) {
.home01-cont2 .promo-button{
    text-align: center;
}
.home01-bg13{
    background: none;
}
.dg-title42{
    font-size:30px !important;
}
.home01-headerStyle .dg-title42 strong,
.home01-bg02 .dg-title42 strong,
.home01-titleLyout .dg-title42 strong,
.home01-cont2 .dg-title42 strong,
.home01-bg-sliderEffect .dg-title42 strong{
    font-size: 80px;
}
.home01-imginfo{
    background-size: cover;
}
.home01-imginfo .imginfo{
    padding-bottom: 320px;
}
}
@media only screen and (max-width: 414px) {
.home01-bg09 .dg-title42 strong{
    font-size: 70px;
}
.home01-bg09 .dg-title42{
    font-size: 26px !important;
}
.home01-icolist li{
    min-height: 315px;
}
.home01-imginfo{
    background-size: cover;
}
.home01-imginfo .imginfo{
    font-size: 12px;
    padding-bottom: 300px;
}
}